<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=non" />
  
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
    <title>Register</title>
  </head>
<body>
  <%- include("partials/_header") %>
  <h1>Register here!</h1>
  <p>Please enter a valid email and password</p>
  <form method="POST" action="/register">
    <label>Email:</label>
    <input name="email" type="email" placeholder="email">
    <label>Password:</label>
    <input name="password" type="password" placeholder="password">
    <button type="submit">Register!</button>
  </form>
</body>
</html>